---
import PaginationButton from '@/components/PaginationButton.astro'
import { getPayload } from '@/payload'
import type { Report } from '@/payload-types'
import type { Populated } from '@/utils/typeChecks'
import { PhArrowLeft, PhArrowRight } from 'phosphor-icons-astro'
import IndexPost from '../../../components/IndexPost.astro'
import PageTitle from '../../../components/PageTitle.astro'
import Layout from '../../../layouts/Layout.astro'
import type { GetStaticPathsResult } from 'astro'

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const payload = await getPayload()

  const reportsCount = await payload.count({
    collection: 'reports',
    where: { slug: { exists: true } },
  })

  const pages = Math.ceil(reportsCount.totalDocs / 5)

  return Array.from({ length: pages }, (_, i) => ({
    params: { page: String(i + 1) },
  }))
}

const payload = await getPayload()
const { page } = Astro.params
const pathname = new URL(Astro.request.url).pathname.split('/')

const data = await payload.find({
  collection: 'reports',
  limit: 5,
  where: { slug: { exists: true } },
  page: Number(page),
  sort: '-createdAt',
})

const pages = (data.docs as Populated<Report>[]) ?? []
---

<Layout>
  <section id="blog" class="p-6 lg:p-4">
    <div
      class="mx-auto min-h-[calc(100vh-135px)] max-w-245 pt-4 pb-12 lg:py-20"
    >
      <PageTitle>Lab Reports</PageTitle>

      <div class="mt-12 grid grid-cols-1 gap-10 lg:grid-cols-10">
        {
          pages.map(async (report, i) => (
            <IndexPost {...report} featured={i === 0} />
          ))
        }
      </div>
    </div>

    {
      data.totalPages > 1 && (
        <ul class="grid w-full list-none grid-flow-col items-center justify-center gap-2">
          <PaginationButton
            disabled={!data.hasPrevPage}
            href={`/reports/page/${data.prevPage}`}
          >
            <PhArrowLeft class="m-0" />
          </PaginationButton>

          {Array.from({ length: data.totalPages }, (_, i) => i + 1).map(
            (num) => (
              <PaginationButton href={`${num}`} active={+page === num}>
                {num}
              </PaginationButton>
            ),
          )}

          <PaginationButton
            disabled={!data.hasNextPage}
            href={`/reports/page/${data.nextPage}`}
          >
            <PhArrowRight class="m-0" />
          </PaginationButton>
        </ul>
      )
    }
  </section>
</Layout>
