---
import { getPayload } from '@/payload'
import type { Service } from '@/payload-types'
import type { Populated } from '@/utils/typeChecks'
import PageTitle from '../../components/PageTitle.astro'
import ServiceSummary from '../../components/ServiceSummary.astro'
import Layout from '../../layouts/Layout.astro'

const payload = await getPayload()

const services = (
  await payload.find({
    collection: 'services',
    limit: 100,
  })
).docs as Populated<Service>[]
---

<Layout title="Services">
  <section class="overflow-y-hidden">
    <div class="container mx-auto max-w-[980px] px-6 pt-20 lg:px-12">
      <div>
        <PageTitle>Services</PageTitle>

        {services.map((service, i) => <ServiceSummary i={i} {...service} />)}
      </div>
    </div>
  </section>
</Layout>
