@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);

@config '../../tailwind.config.ts';

@custom-variant sub-svg (& svg);

:where(*) {
  scrollbar-width: thin;
}

body {
  font-family: var(--font-montserrat);
  margin: 0;
}

.content {
  word-break: break-word;

  h1,
  .h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: 600;
  }

  h2,
  .h2 {
    margin: 1rem 0;
    font-size: 1.35rem;
    font-weight: 600;
  }

  h3,
  .h3 {
    margin: 1rem 0;
    font-size: 1.05rem;
    font-weight: 500;
  }

  p {
    line-height: 1.8;
    @apply text-gray-300;
  }

  p::before {
    content: "";
    display: table;
    width: 160px;
  }

  a,
  a:hover {
    text-decoration: underline;
  }

  iframe {
    padding-block: 16px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  caption-side: bottom;
  border-collapse: collapse;
  width: max(100cqw, 100%);
  table-layout: fixed;

  --color: #d0d0f5;

  th,
  caption {
    text-align: start;
  }

  caption {
    margin-block: 0.75rem;
  }

  thead th:not(:first-child),
  td {
    text-align: start;
  }

  thead {
    border-block-end: 1px solid;
    @apply bg-gray-800;
  }

  tfoot {
    border-block: 2px solid;
    @apply bg-gray-800;
  }

  th,
  td {
    @apply border border-gray-400;
    padding: 0.35rem 0.75rem;
    vertical-align: baseline;
    text-align: start;
  }

  th:first-child {
    position: sticky;
    inset-inline-start: 0;
    border-inline-end: none;
  }

  tbody th {
    background: black;
  }

  thead th,
  tfoot th {
    @apply bg-gray-800;
  }

  thead th {
    vertical-align: bottom;
  }

  th:first-of-type {
    width: 10rem;
  }

  th:first-child::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 1px;
    height: 100%;
    @apply bg-gray-400;
  }

  tbody tr:nth-child(even) {
    @apply bg-gray-800;
  }
}

a {
  @apply no-underline hover:no-underline;

  &.link {
    @apply text-accent-400;
  }
}

.linear-gradient-mask {
  mask: linear-gradient(
    var(--mask-start-deg, 275deg),
    rgba(0, 0, 0, 0) 0%,
    #000 100%
  );
}

.scroll-gradient-mask {
  position: relative;
  --mask-start-deg: 90deg;

  mask: linear-gradient(
    var(--mask-start-deg),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    #000 2%
  );
}

.overflow-gradient-mask {
  position: relative;
  --mask-start-deg: -90deg;

  mask: linear-gradient(
    var(--mask-start-deg),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    #000 4%
  );
}

.input {
  @apply my-1 block min-h-9 w-full border-b border-white/40 bg-transparent text-white/80 outline-hidden;
}

.input-group {
  @apply text-sm;

  .input::placeholder {
    @apply spring-bounce-40 spring-duration-300 text-white/70 opacity-0;
  }

  &:has(.input:placeholder-shown:not(:focus)) {
    .input-label {
      @apply translate-y-[125%] opacity-0;
    }

    .input::placeholder {
      @apply opacity-100;
    }
  }
}
.input-label {
  @apply spring-bounce-40 spring-duration-300 block font-normal text-white/80;
}

.flex-wrap-balance {
  flex-wrap: wrap;
  flex-wrap: balance;
}

.featured-service-container {
  @supports (container-type: scroll-state) {
    container-type: scroll-state;
    span {
      transform-origin: center left;
      color: rgb(255 255 255 / 0.5);
    }

    @container scroll-state(snapped: x) {
      span {
        scale: 1.2;
        color: white;
      }
    }
  }

  @supports not (container-type: scroll-state) {
    span {
      transform-origin: center left;
      color: rgb(255 255 255 / 0.5);
      scale: 1.2;
      color: white;
    }
  }
}

/* Progressive Blur */
.progressive-blur-container {
  background-color: transparent;
  pointer-events: none;
}

.progressive-blur-container > .blur-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.progressive-blur-container > .blur-filter:nth-child(1) {
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 40%
  );
}
.progressive-blur-container > .blur-filter:nth-child(2) {
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
}

.progressive-blur-container > .blur-filter:nth-child(3) {
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 60%
  );
}

.progressive-blur-container > .blur-filter:nth-child(4) {
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 70%
  );
}

.progressive-blur-container > .blur-filter:nth-child(5) {
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 90%
  );
}

.progressive-blur-container > .blur-filter:nth-child(6) {
  backdrop-filter: blur(32px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
}

.progressive-blur-container > .blur-filter:nth-child(7) {
  z-index: 10;
  backdrop-filter: blur(64px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
}

.progressive-blur-container > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, #ffffff);
}
