@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);

@config '../../tailwind.config.ts';

@custom-variant sub-svg (& svg);

body {
  font-family: var(--font-montserrat);
  margin: 0;
}

.content {
  word-break: break-word;

  h1,
  .h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: 600;
  }

  h2,
  .h2 {
    margin: 1rem 0;
    font-size: 1.35rem;
    font-weight: 600;
  }

  h3,
  .h3 {
    margin: 1rem 0;
    font-size: 1.05rem;
    font-weight: 500;
  }

  p {
    line-height: 1.8;
    @apply text-gray-300;
  }

  p::before {
    content: "";
    display: table;
    width: 160px;
  }

  a,
  a:hover {
    text-decoration: underline;
  }

  iframe {
    padding-block: 16px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  caption-side: bottom;
  border-collapse: collapse;
  width: max(100cqw, 100%);
  table-layout: fixed;

  --color: #d0d0f5;

  th,
  caption {
    text-align: start;
  }

  caption {
    margin-block: 0.75rem;
  }

  thead th:not(:first-child),
  td {
    text-align: start;
  }

  thead {
    border-block-end: 1px solid;
    @apply bg-gray-800;
  }

  tfoot {
    border-block: 2px solid;
    @apply bg-gray-800;
  }

  th,
  td {
    @apply border border-gray-400;
    padding: 0.35rem 0.75rem;
    vertical-align: baseline;
    text-align: start;
  }

  th:first-child {
    position: sticky;
    inset-inline-start: 0;
    border-inline-end: none;
  }

  tbody th {
    background: black;
  }

  thead th,
  tfoot th {
    @apply bg-gray-800;
  }

  thead th {
    vertical-align: bottom;
  }

  th:first-of-type {
    width: 10rem;
  }

  th:first-child::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    width: 1px;
    height: 100%;
    @apply bg-gray-400;
  }

  tbody tr:nth-child(even) {
    @apply bg-gray-800;
  }
}

a {
  @apply no-underline hover:no-underline;

  &.link {
    @apply text-accent-400;
  }
}

.linear-gradient-mask {
  --mask-start-deg: 275deg;
  mask: linear-gradient(var(--mask-start-deg), rgba(0, 0, 0, 0) 0%, #000 100%);
}

.scroll-gradient-mask {
  position: relative;
  --mask-start-deg: 90deg;

  mask: linear-gradient(
    var(--mask-start-deg),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    #000 2%
  );
}

.overflow-gradient-mask {
  position: relative;
  --mask-start-deg: -90deg;

  mask: linear-gradient(
    var(--mask-start-deg),
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 1%,
    #000 4%
  );
}

.input {
  @apply my-1 block min-h-9 w-full border-b border-white/40 bg-transparent text-white/80 outline-hidden;
}

.input-group {
  @apply text-sm;

  .input::placeholder {
    @apply spring-bounce-40 spring-duration-300 text-white/70 opacity-0;
  }

  &:has(.input:placeholder-shown:not(:focus)) {
    .input-label {
      @apply translate-y-[125%] opacity-0;
    }

    .input::placeholder {
      @apply opacity-100;
    }
  }
}
.input-label {
  @apply spring-bounce-40 spring-duration-300 block font-normal text-white/80;
}

.flex-wrap-balance {
  flex-wrap: wrap;
  flex-wrap: balance;
}
