---
import { getCollection } from "astro:content"
import { kebabCase } from "lodash-es"
import FeatureCard from "../components/FeatureCard.astro"
import featuresConfig from "../content/features.json"
import DefaultLayout from "../layouts/DefaultLayout.astro"

const features = (
  await getCollection("videos", ({ id }) =>
    featuresConfig.videos.includes(kebabCase(id.replace(".md", ""))),
  )
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
---

<DefaultLayout>
  <section class="w-container mx-auto py-8 md:py-14">
    <div class="mx-auto flex max-w-7xl flex-col gap-2 py-4 md:py-16">
      <h1 class="mx-auto max-w-7xl">{featuresConfig.title}</h1>
      <p class="">{featuresConfig.description}</p>
    </div>
    <div
      class="mx-auto grid max-w-7xl snap-y snap-mandatory grid-flow-row grid-cols-1 gap-14 overflow-y-auto py-10"
    >
      {features.map(async (feature) => <FeatureCard {...feature} />)}
    </div>
  </section>
</DefaultLayout>
