---
import { getCollection } from "astro:content"
import DefaultLayout from "../layouts/DefaultLayout.astro"
import { PortfolioGrid } from "../components/PortfolioGrid.tsx"
import VideoListJSONLD from "../components/VideoListJSONLD.astro"

const videos = await getCollection("videos")
---

<DefaultLayout title="Portfolio">
  <VideoListJSONLD videos={videos} />
  <section class="w-container mx-auto py-14">
    <div class="flex items-center gap-6 px-4 pb-4">
      <h2 class="text-3xl">Portfolio</h2>
    </div>

    <PortfolioGrid
      videos={videos.map((video, i, videos) => ({
        ...video,
        data: {
          ...video.data,

          nextVideo:
            i + 1 === videos.length
              ? videos.at(0)?.data
              : videos.at(i + 1)?.data,
          prevVideo:
            i === 0
              ? videos.at(videos.length - 1)?.data
              : videos.at(i - 1)?.data,
        },
      }))}
      client:load
    />
  </section>
</DefaultLayout>
