---
import { getCollection } from "astro:content"
import VideoCard from "../components/VideoCard.astro"
import VideoListJSONLD from "../components/VideoListJSONLD.astro"
import DefaultLayout from "../layouts/DefaultLayout.astro"
import { PortfolioFilter } from "../components/PortfolioFilter.tsx"

const videos = await getCollection("videos")
const categories = await getCollection("categories", ({ slug }) =>
  videos.some((video) => video.data.type === slug),
)
---

<DefaultLayout title="Portfolio">
  <VideoListJSONLD videos={videos} />
  <section class="w-container mx-auto py-14">
    <div class="flex items-center gap-6 px-4 pb-4">
      <h2 class="text-3xl">Portfolio</h2>
    </div>

    <div class="flex w-full flex-col gap-8">
      <PortfolioFilter client:load categories={categories} />

      <div
        class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2 px-4 sm:gap-5 xl:grid-cols-4"
        data-filter-content
      >
        {videos.map((video) => <VideoCard {...video} />)}
      </div>
    </div>
  </section>
</DefaultLayout>
