---
import { getPayload } from "@/payload";
import type { Service } from "@/payload-types";
import type { Populated } from "@/utils/typeChecks";
import { FeaturedServicesList } from "./FeaturedServicesList.tsx";

const payload = await getPayload();

const services = (await payload.find({ collection: "services", limit: 100 }))
  .docs as Populated<Service>[];
---

<section class="my-8 border-y border-gray-800">
  <FeaturedServicesList services={services} client:visible />
</section>
