---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"h1">

const props = Astro.props
---

<h1
  {...props}
  class:list={[
    "m-0 text-[clamp(2rem,5vw,2.65rem)] font-medium tracking-wider uppercase",
    props.class,
  ]}
>
  <slot />
</h1>
