---
import type { Testimonial } from '@/payload-types'
import Image from './Image'
import type { Populated } from '@/utils/typeChecks'
import { convertLexicalToHTML } from '@payloadcms/richtext-lexical/html'
import { convertLexicalToPlaintext } from '@payloadcms/richtext-lexical/plaintext'
import { Schema } from 'astro-seo-schema'

type Props = Populated<Testimonial>
const testimonial = Astro.props
---

<div class="relative w-full rounded-xl bg-black p-8 ring-1 ring-gray-800">
  <div class="flex flex-col justify-center gap-6">
    <Schema
      item={{
        '@context': 'https://schema.org',
        '@type': 'UserReview',
        author: {
          '@type': 'Person',
          name: testimonial.title,
          additionalName: testimonial.subtitle,
        },
        itemReviewed: { name: 'Vek Labs Video Production' },
        reviewRating: { ratingValue: 5 },
        reviewBody: convertLexicalToPlaintext({ data: testimonial.body }),
        datePublished: testimonial.createdAt,
      }}
    />
    {
      testimonial.icon && (
        <div class=" max-w-12 rounded-sm bg-gray-800 p-2">
          <Image
            objectFit="contain"
            width={48}
            operations={{ fit: 'contain' }}
            media={testimonial.icon}
            className="aspect-square w-full"
          />
        </div>
      )
    }
    <div class="flex flex-col gap-2">
      <p
        class="mt-auto max-w-xl text-lg text-pretty"
        set:html={convertLexicalToHTML({ data: testimonial.body })}
      />
      <div class="flex gap-2">
        <span class="text-sm text-gray-400">
          {[testimonial.title, testimonial.subtitle].join(' • ')}
        </span>
      </div>
    </div>
  </div>
</div>
