name: Rebuild Site

on:
  repository_dispatch:
    types: [rebuild]

jobs:
  empty-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create empty commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit --allow-empty -m "deploy: trigger rebuild"
          git push
